<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タリーズAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function insertTextAndSubmit(text) {
            document.getElementById('prompt').value = text;
            document.getElementById('promptForm').submit();
        }
    </script>
</head>
<body>
    <h1>beans search AI</h1>

    <div class="mark_container">
        <img src="{{ url_for('static', filename='images/tullys.jpg') }}" alt="Tully's Coffee" class="Tullysmain">
    </div>

    <h1 class="prompt-label">コーヒー豆についてご質問下さい</h1>
    <div class="button-container">
        <button class="prompt-button" onclick="insertTextAndSubmit('おすすめの豆を教えてください')">おすすめの豆を教えてください</button>
        <button class="prompt-button" onclick="insertTextAndSubmit('酸味が少ない豆を教えて')">酸味が少ない豆を教えて</button>
        <button class="prompt-button" onclick="insertTextAndSubmit('彼女に豆をプレゼントしたい')">彼女に豆をプレゼントしたい</button>
        <button class="prompt-button" onclick="insertTextAndSubmit('コクの深い豆を教えて')">コクの深い豆を教えて</button>
    </div>


    <form id="promptForm" action="/" method="post">
        <div class="input-container">
            <textarea id="prompt" name="prompt" placeholder="AIにメッセージを送る"></textarea>
            <input type="submit" value="送信">
        </div>
    </form>


    {% if beans %}
    <div class="beans-container">
        <h2>AIの回答</h2>
        <p>{{ beans }}</p>
    </div>
    {% endif %}
</body>
</html>

